<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Predicting Forest Fire</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
img {
  filter: brightness(200%);
}
</style>

  </head>
<body>
<div>
  <Body style= "background: url(https://mediad.publicbroadcasting.net/p/shared/npr/202001/768373485.jpg); background-repeat: no-repeat; background-size:cover: filter:brightness(20%)"> 
</div>
</Body>   
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-15 col-sm-15 col-md-15 jumbotron text-center" style="background-image: url('https://www.gannett-cdn.com/presto/2020/09/15/USAT/6e2f4979-2bcc-4139-95e2-4ba005742d5f-GTY_1228523363.jpg?crop=3499,1968,x0,y177&width=3200&height=1800&format=pjpg&auto=webp');
        background-size: 1000; background-position: center; color: White">
          <h1>Predicting Forest Fires</h1>
          </div>
      </div>
      <div class="jumbotron-fluid bg-dark d-flex  text-red  px-3" style="height:1000px; ">
    <div class="container align-self: self-start; pl-0">
        <div class="row">
            <div class="align-safe-center col-xs-12 col-sm-12 col-md-9 col-lg-5 col-xl-12 pb-5" style="color: DarkBlue">
                <h1 style="font-size:300%;">Province of Alberta</h1>
                <p style= "font-size:150%">Overview</p>
            </div>
        </div>
    </div>
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
        <div class="col-md-5">
          <div id="gauge"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div id="bubble"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script src="plots.js"></script> -->
  <script src="charts.js"></script>

</body>

</html>